
body {
  background-color: #507683;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  max-width: 100%;
  min-height: 130px;
  min-width: 300px; 
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.button1 {
  background-color: #ECF1F3;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 30px;
  position: relative;
  text-align: center;
}

.button1:hover {
  background-color: #364F58;
  color: white;
}